{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Book Series</li>
{% endblock %}


{% block summary%}
	
	<br>
	<a href = "{% url 'searchbookseries'%}">Search </a>
	
{% endblock%}


{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <!--<th>F.Author</th>
        <th>Co-Author</th>
        <th>Paper Title</th>
        <th>Journal Name</th>-->
		<th>List of Book series ({{bookseriescount}})</th>
      </tr>
    </thead>
    {% for book in bs %}
        <tr>
          <td> <a href="{% url 'bookseries_detail' book.pk %}">{{ book.refformat }}</a> </td>
        </tr>
    {% endfor %}
  </table>
  
  {% if bs.has_other_pages %}
  <nav aria-label="Topics pagination" class="mb-4">
    <ul class="pagination">
      {% if bs.has_previous %}
        <li class="page-item">
			
			<a class="page-link" href="?page={{ bs.previous_page_number }}">Previous</a>
			<a class="page-link" href="?page=1">&laquo; First</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
      {% endif %}

       Page {{ bs.number }} of {{ bs.paginator.num_pages }}

      {% if bs.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ bs.next_page_number }}">Next</a>
		  <a class="page-link" href="?page={{ bs.paginator.num_pages }}"> Last&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
  
  <br><br>
  <br>
	  <br>
	  <button type="submit" class="btn btn-default" ><a href="{% url 'bookseries_new' %}">Add new</a></button>
	  
	  <p>Total Book Series = {{bookseriescount}}</p>
	  <p></p>
{% endblock %}