{% extends 'base.html' %}

{% block title %}Delete a Conference Article{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'conference_home' %}">Conference</a></li>
  <!--<li class="breadcrumb-item"><a href=""></a></li>-->
  <li class="breadcrumb-item active">Delete Conference</li>
{% endblock %}

{% block content %}

	<p> Are you sure you want to delete the conference article titled {{conference.ctitle}} ?</p>
	
    <button type="submit" class="btn btn-default">Yes</button>
	<button type="submit" class="btn btn-default"> <a href="{% url 'conference_home' %}"> No</a></button>
{% endblock %}