{% extends 'base.html' %}

{% block title %}
  {{ conference.ctitle }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'conference_home' %}">Conference</a></li>
  <li class="breadcrumb-item active">{{ conference.ctitle }}</li>
{% endblock %}

{% block content %}
    <!-- just leaving it empty for now. we will add core here soon. -->
	<li> Title: {{conference.ctitle}}</li>
	<li> Duration: {{conference.cdatefrom}} to {{conference.cdateto}}</li>
	
	<li> Faculty Authors : 
		{% for fa in falist %}
		{{fa.facultyname}}, 
		{% endfor %}
	</li>
	
	<li> Student Authors : 
		{% for sa in salist %}
		{{sa.sname}}, 
		{% endfor %}
	</li>
	
	<li>Research Scholars : 
		{% for rs in rslist %}
		{{rs.rsname}} 
		{% endfor %}
	</li>
	
	<li>Scopus SJR = {{conference.csjr}}</li>
	<li>Scopus SNIP = {{conference.csnip}}</li>
	<li>ISSN Number = {{conference.cisbn}}</li>
	
	<br>
	  <br>
	  <button type="submit" class="btn btn-default" ><a href="{% url 'conference_update' conference.pk %}">Update</a></button>
	  <button type="submit" class="btn btn-default" ><a href="{% url 'conference_delete' conference.pk %}">Delete</a></button>
	  <br>
	  <br>
				
{% endblock %}



<!--{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ journal.jpapertitle }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Journal</a></li>
        <li class="breadcrumb-item active">{{ journal.jpapertitle }}</li>
      </ol>
    </div>
  </body>
</html>-->