{% extends 'base.html' %}

{% block title %}Update Journal{% endblock %}




{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Journal</a></li>
  <!--<li class="breadcrumb-item"><a href=""></a></li>-->
  <li class="breadcrumb-item active">Update Journal</li>
{% endblock %}

{% block content %}
<p>Update Journal </p>
<p>{{journal.jtitle}}</p>
	<form method="post">
    {% csrf_token %}
	{% include 'includes/form.html' %}
    <!--{{form.as_p}}-->
    <button type="submit" class="btn btn-success">Update</button>
  </form>
{% endblock %}